.app {
  display: flex;
}

.left-menu {
  width: 400px;
  height: 100vh;
  position: sticky;
  top: 0px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  margin: 0px 8px;
}
.garage-image {
  background-size: cover;
  background-position: 50% 0%;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.garage-logo {
  width: 200px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: -50px;
}
.garage-logo img {
  width: 100%;
}
.garage-info {
  margin-top: 60px;
}
.garage-info .btn-cta {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 3px;
}
.garage-info .btn-cta:hover {
  background-color: black;
  color: white;
}
.garage-description {
  padding: 30px;
  color: gray;
}

.car-index {
  width: 800px;
  margin: 0 auto;
  a {
    width: 100%;
    text-decoration: none;
    color: black;
  }
  .car {
    height: 160px;
  }
}

.car-show {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  a {
    width: 100%;
    text-decoration: none;
    color: black;
  }
  .car {
    height: 100%;
    img {
      width: 50%;
    }
  }
}

.car-new {
  margin: 80px;
  width: 30%;
}

.car {
  display: flex;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
  margin: 8px 0px;
  img {
    width: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 16px;
  }
  .car-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p, h2 {
      margin: 0;
    }
  }
}
